/* Website Background */

.web-bg {
    background-color: #F5F8FF;
}

/* Fonts */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Button */

.primary-button {
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #4E47FF;
    border-radius: 10px;
}

.button-text {
    text-decoration: none;
    color: white;
}

.primary-button:hover {
    background-color: orange;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

.logo-font {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

/* Banner Section */

.banner {
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 120px;
}

.banner-content {
    align-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.banner-heading {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    color: #252432;
}

.banner-button {
    display: flex;
    justify-content: center;
    margin-top: -12px;
    
}

/* Action Section */

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 96px;
    margin-bottom: 96px;
    gap: 96px;
}

.action-h3 {
    font-size: 42px;
    font-weight: 800;
    color: #252432;
    margin: auto;
}

.action-para {
    font-size: 24px;
    font-weight: 400;
    margin: 24px 0px;
    color: #252432;
    opacity: 50%;
}

.action-img {
    max-height: 328px;
    border-radius: 48px;
    border: none;
}

/* Productive User Section */

.pro {
    background-color: hsla(242, 100%, 64%, 0.103);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.pro-h3 {
    margin: auto;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: #252432;
}

.pro-stat {
    display: flex;
    justify-content: space-evenly;
}

.pro-stat-data {
    margin-top: 24px;
}

.pro-stat-data-h1 {
    margin: auto;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: #4E47FF;
}

.pro-stat-data-para {
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #252432;
    opacity: 50%
}

/* Review Section */

/* Newsletter Section */

.newsletter {
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.news-h3 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.news-para {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 16px;
    color: black;
    opacity: 50%;
}

.news-button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 24px;
}

.news-img {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 36px;
    border-radius: 48px;
    max-width: 840px;
    border: none;
}

.news-img:hover {
    opacity: 96%;
    cursor: grab;
}

/* Get in Touch */

/* Footer Section */

.footer {
    display: flex;
    justify-content: center;
    background-color: white;
}

.footer-logo-font {
    font-size: 60px;
    font-weight: 900;
    color: #4E47FF;
    text-align: center;
    margin: auto;
    margin-top: 60px;
}

.footer-para {
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 24px 20%;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    margin: auto 30%;
}

section ul li {
    list-style: none;
    margin-bottom: 60px;
}

.footer-link {
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
}

.footer-link:hover {
    color: #4E47FF;
}